<html>
    <head><title>後台</title></head>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="/javascripts/admin.js"></script>
    <body>
        <h1>後台</h1>
        <hr>
        <%= yield %>
    </body>
</html>
