<html>
    <head><title>後台</title></head>
    <!--<link rel="stylesheet" href="/stylesheets/admin.css">-->
    <%= stylesheet_link_tag 'admin' %>
    <!--<script src="/javascripts/admin.js"></script>-->
    <%= javascript_include_tag 'admin' %>
    <body>
        <h1>後台</h1>
        <hr>
        <%= yield %>
    </body>
</html>
